.activity-item-card {
  height: 200px;
  width: 90%;
  border-radius: 10px;
}
.act-heartSize {
  font-size: 2.3vw;
}
.activity-card-image {
  border-radius: 10px;
}
.heartOutlined {
  color: #c4d0b8;
}
.heartFilled {
  color: rgb(248, 4, 4);
}
.middle-row-height {
  height: 70px;
}
.cityName {
  color: gray;
}
.learnMore {
  color: gray;
}
.learnMore:hover {
  transition: 0.1s;
  color: #0091ea;
}
