.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* collapse styling */

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  /* border: var(--header-border, 1px solid black); */
  background-color: rgba(143, 143, 143, 0.377);
  color: white;
  border-radius: 50%;
}
.ant-collapse > .ant-collapse-item{
  background-color: rgba(36, 238, 211, 0.911);
  border-radius: 50%;

}
.ant-collapse{
  width: 50%;
  color: white;
  border-radius: 50%;
}
.active.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-top: 3px solid black;
}

.panel{
  background-color: rgba(36, 238, 211, 0.911);
  width: 100;
}