.act-page {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas:
    "cards map";
  margin: 0 3% 0 4%;
}
@media screen and (max-width: 600px) {
  .act-page {
    grid-template-columns: 100%;
    grid-template-areas: "map" "cards";
  }
}
.left-grid-column {
  grid-area: "cards";
}
.right-grid-column {
  grid-area: "map";
}

.ActivityList {
  display: grid;
  grid-gap: 20px;
}
.results-number {
  color: gray;
}
.result-sort {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0 -5px 0;
}
.only-outdoor {
  background-color: #e8f0fe;
  color: #0091ea;
  padding: 7px 15px;
  border-radius: 10px;
}
.only-outdoor:hover {
  cursor: pointer;
}

.loading {
  justify-self: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
}
.spinner {
  justify-self: center;
  margin: 10px 0;
}
/* footer of the cards part */
.pagination {
  justify-self: center;
  margin: 30px 0 100px 0;
  display: flex;
  flex-direction: column;
}
.result-count {
  padding: 10px;
  align-self: center;
}
