.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.name-edit {
  width: 200%;
  margin-left: 10px;
}
.ant-upload{
  width: 130px;
}
.ant-upload.ant-upload-select-picture-card {
  height: 130px;
  width: 130px;
}